/* Estilos para el footer */
.footer {
  background-color: #468B73; /* Color verde especificado */
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer p {
  color: white;
  margin: 0;
  font-size: 16px;
}
