.container {
  background-color: #BCCECC; /* similar al color de fondo gris verdoso */
  padding: 80px 80px;
  color: #000000;
  min-height: calc(100vh - 17.2vh); /* Altura viewport menos el alto del footer */
  box-sizing: border-box; /* para que el padding no aumente el ancho */
}

.container-blanco {
  background-color: #ffffff;
}

h2 {
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 25px;
}

button {
  background-color: #225946; /* verde oscuro */
  color: white;
  border: none;
  padding: 10px 32px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: "PT Serif", serif;
}
