<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/inicio">
      <img src="logo1.png" alt="Logo" class="navbar-logo" />
    </a>

    <div *ngIf="!estaLogueado" class="navbar-links">
      <a routerLink="/iniciar" class="btn-valoration">Iniciar Sesión</a>
      <a routerLink="/registro" class="btn-valoration">Registrarse</a>
    </div>

    <div *ngIf="estaLogueado" class="navbar-links">
      <a routerLink="/formulario" class="btn-valoration">Evaluar</a>
      <a routerLink="/evaluaciones" class="btn-valoration">Ver evaluaciones</a>
      <a (click)="logout()" class="btn-valoration">Cerrar sesión</a>
    </div>
  </div>
</nav>
