<div class="login-container">
  <div class="left-panel">
    <h2>Inicia Sesión</h2>

    <form (ngSubmit)="iniciarSesion()" #formulario="ngForm">
      <label>Nro. de Colegiatura: <span class="required">*</span></label>
      <input type="text" name="numero_colegiatura" [(ngModel)]="datosLogin.numero_colegiatura" required maxlength="6" minlength="6" (keypress)="soloNumeros($event)" (paste)="evitarPegadoInvalido($event)"/>

      <label>Contraseña: <span class="required">*</span></label>
      <div class="password-container">
        <input [type]="mostrarContrasena ? 'text' : 'password'" name="contrasena" [(ngModel)]="datosLogin.contrasena" required />
        <button type="button" class="toggle-password" (click)="toggleMostrarContrasena()">
          <svg *ngIf="mostrarContrasena" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
          <svg *ngIf="!mostrarContrasena" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
            <line x1="1" y1="1" x2="23" y2="23"></line>
          </svg>
        </button>
      </div>

      <button type="submit">Iniciar sesión</button>
    </form>
  </div>

  <div class="right-panel">
    <div class="curve-shape">
      <h1>¡Bienvenido!</h1>
      <p>¿No tienes una cuenta?</p>
      <button (click)="irRegistrar()" class="btn-registrar">Regístrate</button>
    </div>
  </div>

  <!-- ALERTA LATERAL INFERIOR DERECHA -->
  <div class="alert-popup-bottom" *ngIf="showAlert">
    <div class="alert-content-bottom">
      <p>{{ alertMessage }}</p>
      <button class="close-btn" aria-label="Cerrar alerta" (click)="cerrarAlerta()">×</button>
    </div>
  </div>
</div>
