.form-container {
  padding-top: 0;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 16px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.form-header h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
}

.form-header h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.question {
  display: flex;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.question-number {
  width: 50px;
  background-color: #468B73;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  flex-shrink: 0;
}

.question-content {
  flex-grow: 1;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #BCCECC;
}

label {
  font-size: 20px;
  margin-bottom: 8px;
  display: block;
}

.options input {
  margin-right: 5px;
  margin-left: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  background-color: #468B73;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 120px;
  transition: background-color 0.3s ease;
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

select {
  font-family: 'Open Sans', sans-serif;
  width: 80px;
}

/* Responsividad */

/* Tablets y pantallas medianas */
@media (max-width: 992px) {
  .question {
    flex-direction: column;
  }

  .question-number {
    width: auto; /* para que se ajuste al contenido */
    min-width: 30px; /* ancho mínimo */
    padding: 10px 8px; /* ajustar padding para menos ancho */
    border-radius: 20px 20px 0 0;
    margin-right: 0;
    font-size: 22px;
    text-align: center;
  }

  .question-content {
    border-radius: 0 0 20px 20px;
    margin-top: 5px;
  }

  select {
    width: 100%;
    max-width: 200px;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  .form-header h1 {
    font-size: 28px;
  }

  .form-header h2 {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }

  .question-number {
    font-size: 20px;
    padding: 8px 6px; /* menos padding lateral */
    width: auto;
    min-width: 25px; /* más pequeño */
    text-align: center;
  }

  button {
    min-width: 100px;
    font-size: 14px;
    margin: 5px;
    padding: 8px;
  }

  .pagination {
    gap: 8px;
  }
}

