<div class="result-container">
  <div class="result-header">
    <h2>Nivel de riesgo de tener Dengue</h2>
  </div>
  <div class="result-body">
    <h3>{{ riesgo_random_forest }}</h3>
    <p>No olvides que esto es una valoración. En caso de tener dudas es mejor consultar con un médico.</p>
    <div class="button-container">
      <button class="button" routerLink="/form">Volver a evaluar</button>
      <button class="button" routerLink="/evaluations">Ver evaluaciones</button>
    </div>
  </div>
</div>
