.form-container {
  background-color: #BCCECC;
  padding: 2rem;
  border-radius: 20px;
  width: 60%;
  margin: 60px auto;
  text-align: center;
  font-family: "PT Serif", serif;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 4rem;
  margin-top: 1rem;
}

label {
  display: block;
  font-weight: normal;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input:disabled {
  background-color: #e8e6e6;
  color: #444;
  opacity: 1;
  cursor: not-allowed;
}

.colegiatura {
  width: 92%;
  display: flex;
  gap: 15px;
}

.error {
  font-size: 0.9rem;
  margin-left: 33px;
  margin-top: 5px;
}

.colegiatura input {
  margin-left: 33px;
}

.colegiatura button {
  padding: 0.5rem 1rem;
  background-color: #1b4d3e;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-registrar {
  background-color: #225946;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 15px;
  margin-top: 1.7rem;
  border: none;
  cursor: pointer;
  font-family: "PT Serif", serif;
}

.login-link {
  margin-top: 1.2rem;
}

.login-link a {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}
